 
    
  .containerNew {
    position: relative;
    width: 400px;
    height: 600px;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    background: #ecf0f3;
    left: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
      

  .brand-logo {
    height: 100px;
    width: 100px;
    background: url("../../assets/img/logos/logo.png");
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
  }
    
  .brand-title{
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #2b3e61;
    letter-spacing: 1px;
  }
    
  .inputs {
    text-align: left;
    margin-top: 30px;
  }
    
  input, button,select {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
    
  input::placeholder {
    color: gray;
  }
    
  input,select {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
    
  .containerNew button {
    color: white;
    margin-top: 20px;
    background: #2b3e61;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
  }
    
  button:hover {
    box-shadow: none;
  }
    
  .ok {
    text-align: center;
    width: 100%;
    padding: 2px;
    background-color: #1e6;
    color: #fff
  }
  .bad {
    text-align: center;
    width: 100%;
    padding: 2px;
    background-color: #a22;
    color: #fff
  }
  
  .bad{
      position: absolute;
      top: -2%;
  }
  .ok{
      position: absolute;
      top: -2%;
  }
  
  .nuevoCarro button{
    color: white;
    margin-top: 20px;
    background: #2b3e61;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
  }